<div class="login">
  <center>

  <%= form_for(:session, url: login_path, html: { class: "form"}) do |f| %> 
  <%= f.email_field :email, :placeholder => "Email" %> 
  <%= f.password_field :password, :placeholder => "Password" %> 
  <%= f.submit "Log in" %>
	<% end %>
    </center>
  
</div>