<!DOCTYPE html>
<html>
<head>
  <title>GTFO</title>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="GTFO.css">

</head>
<body>


  <div class="startover">
          <%= link_to(root_path) do %>
          START OVER <img class="plane" src="http://i62.tinypic.com/2dwhjlk.png">
        <% end %>
          </div>


  <div class="locations">
    <center>
      <p>WHERE SHALL YOU GTFO?</p>
      <p>These are the top 5 destinations from <b><%= @city %></b> airport</p>
      <% @parsed["Destinations"].each do |f| %>
      <% if f["Destination"]["MetropolitanAreaName"] %>
        <% name = f["Destination"]["MetropolitanAreaName"] %>
      <% else %>
        <% name = f["Destination"]["CityName"] %>
      <%end%>
      <% destination_airport = f["Destination"]["DestinationLocation"] %>
      <%= link_to "#{name}", insta_path(:choice=>"#{name}",:city=>"#{@city}",:destination_city_airport=>"#{destination_airport}"), class:"button"%>
      <br><br>
      <%end%>
    </center>
  </div>
</body>
