<body>
  
  
  <div class="startover">
          <%= link_to(root_path) do %>
          START OVER <img class="plane" src="http://i62.tinypic.com/2dwhjlk.png">
        <% end %>
          </div>
  
  
  <div class="locations">
    <center>
      <h1>WHERE SHALL YOU GTFO?</h1>
      <p>These are the top 5 destinations from <b><%= @city %></b> airport</p>
      <% @parsed["Destinations"].each do |f| %>
      <% if f["Destination"]["MetropolitanAreaName"] %>
        <% name = f["Destination"]["MetropolitanAreaName"] %>
      <% else %>
        <% name = f["Destination"]["CityName"] %>
      <%end%>
      <% destination_airport = f["Destination"]["DestinationLocation"] %>
      <%= link_to "#{name}", insta_path(:choice=>"#{name}",:city=>"#{@city}",:destination_city_airport=>"#{destination_airport}"), class:"button"%>
      <br><br>
      <%end%>
    </center>
  </div>
</body>
