<!DOCTYPE html>
<html>
<head>
  <title>GTFO</title>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<!--
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
/-->
    <link rel="stylesheet" type="text/css" href="GTFO.css">
    
</head>
<body>
    
      <div class="locations">
          
            <center><p>CHOOSE YOUR CITY:</p>
      
        <a href=""><div class="button">NEW YORK CITY</div></a>
        <a href=""><div class="button">LOS ANGELES</div></a>
        <a href=""><div class="button">CHICAGO</div></a>
        <a href=""><div class="button">PHILADELPHIA</div></a>
        <a href=""><div class="button">HOUSTON</div></a></center>
          
    </div>
    <div class="footer">
        <a href="#"><div class="startover">START OVER <img class="plane" src="http://i62.tinypic.com/2dwhjlk.png"></div></a>
    </div>
 
</body>
</html>
