/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self


// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 */



body {
    background: #00CCFF;
}

@media (max-width: 1024px) {
  body {
    text-align: center;
    }
}


p {
    color: #FFFFFF;
    font-size: 24px;
    text-decoration:none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: 'Montserrat', sans-serif;
}

.locations{
    padding: 5%;
    margin: auto;
    vertical-align: middle;
    width: 60%;
    border: 5px solid #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.button {
    padding: 5%;
    margin: 1%;
    width: 35%;
    border: 5px solid #FFFFFF;
    display: inline-block;
    text-align: center;
    text-decoration:none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    cursor:pointer;
}


@media (max-width: 1024px) {
  .button {
    padding: 5%;
    margin: 1%;
    width: 35%;
    border: 5px solid #FFFFFF;
    display: inline-block;
    text-align: center;
    text-decoration:none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    cursor:pointer;
  }
}

@media (max-width: 768px) {
  .button {
    padding: 5%;
    margin: 3%;
    width: 60%;
    border: 5px solid #FFFFFF;
    display: inline-block;
    text-align: center;
    text-decoration:none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    cursor:pointer;
  }
}


.logo {
    width: 150px;
    padding-bottom: 30px;
    vertical-align: middle;
}

@media (max-width: 1024px) {
  .logo {
    width: 150px;
    padding: 25px;
    vertical-align: middle;
    }
}

@media (max-width: 768px) {
  .logo {
    width: 150px;
    padding: 30px;
    vertical-align: middle;
    }
}


.plane {
    height: 15px;   
    
}


.nav {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    padding: 25px;
    text-decoration:none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.nav a{
    text-decoration:none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: none !important;
}


@media (max-width: 1024px) {
  .nav ul {
    list-style-type: none;
    border: none !important;
    padding: 0;
    margin: 0;
  }
}


@media (max-width: 1024px) {
  .nav {
    position: relative;
    display: inline;
    padding: 0;
    text-align: center;
    text-decoration:none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
  }
}


/*startover*/

.startover {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    padding: 25px;
    text-decoration:none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.startover a{
    text-decoration:none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}


@media (max-width: 1024px) {
  .startover {
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration:none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
  }
}




.login  {
    padding: 5%;
    margin: auto;
    vertical-align: middle;
    width: 60%;
    border: 5px solid #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.signup  {
    padding: 5%;
    margin: auto;
    vertical-align: middle;
    width: 60%;
    border: 5px solid #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.form input{
    padding: 3%;
    background: #FFFFFF;
    color: #00CCFF;
    border: none;
    margin: 3%;
    vertical-align: middle;
    width: 75%;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    
}

.form input[type="submit"] {
    background: #00CCFF;
    color: #FFFFFF;
    border: 5px solid #FFFFFF;
    vertical-align: middle;
    width: 25%;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: 'Montserrat', sans-serif;
}

.instagram {
    padding: 5%;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    width: 70%;
    border: 5px solid #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.image {
    width: 26%;
    background: #FFFFFF;
    display: inline-block;
    padding: 13px;
    margin: 13px;
    
}

@media (max-width: 1024px) {
  .image {
    width: 24%;
    background: #FFFFFF;
    display: inline-block;
    padding: 10px;
    margin: 10px;
  }
}

@media (max-width: 768px) {
  .image {
    width: 35%;
    background: #FFFFFF;
    display: inline-block;
    padding: 10px;
    margin: 10px;
  }
}